*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
}

nav h1{
    color:white;background: linear-gradient(90deg, #3fde17, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

#header{
    margin-bottom:100px;
    width:100%;
    height:100vh;
    background-image: url("images/namanfinal2.png");
    background-size: cover;
    background-position: center;
}

.container{
    padding:10px 10%;
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -10px;
}

.logo{
    width:150px;
}

nav ul li{
    display:inline-block;
    list-style: none;
    margin:10px 20px;

}

nav ul li a:hover{
    color:green;
}

nav ul li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    position: relative;
}

nav ul li a::after{
    content:'';
    width:0;
    height:3px;
    background:green;
    position:absolute;
    left: 0;
    bottom:-6px;
    transition:0.5s;
}

nav ul li a:hover::after{
    width:100%;
}

body {
    padding: 0;
    margin: 0;
    color: #ababab;
    background-color:#262626;
    font-family: 'Poppins', sans-serif;
}

/* Centered section */
.home {
    display: flex;
    height: 100vh;
    justify-content:center;
    flex-direction: column;
    text-align: center;
    align-items:flex-start;
    margin-top: -120px;
}

/* Headings */

h1 {
    font-size: 3.5rem;
    color:white;
}

h2 {
    margin-top: 20px;
    font-size: 2rem;
    color:white;
}

/* Highlight and typing color */
.highlight{
    font-weight: 600;
    color: green;
}

.typing {
    font-weight: 600;
    color: green;
}

#about{
    margin-bottom:40px;
    background-color: black;
}

.row{
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* background-color: black; */
    padding:40px;
    padding-left:80px;
    border-radius: 30px;
}

.about-col-1{
    flex-basis:38%;
    /* background-color: black; */
    border-radius: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.about-col-1 img{
    width:auto;
    height:600px;
    border-radius: 15px;
    border-radius: 30px;

}


.about-col-2{
    flex-basis:60%;
    text-align: center;
    /* background-color: black; */
    padding:40px;
    border-radius: 25px;
}

.about-col-2 p{
    text-align: start;
}

.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: white;
    margin-bottom:30px;
    margin-top:-25px;
}

.about-col-2 strong{
    font-weight:600;
    color:white;
}

.tab{
    margin-top:80px;
    margin-left:5px;
}

.tab-titles{
    display:flex;
    margin:20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-weight:500;
    cursor:pointer;
    font-size: 18px;
    position:relative;
    color:white;
}

.tab-links:hover{
    color: green;
}

.tab-links::after{
    content:'';
    width: 0;
    height:3px;
    background:green;
    position:absolute;
    left: 0;
    bottom:-8px;
    transition:0.5s;
}

.tab-links.active-link::after{
    width:50%;
}

.tab-contents ul li{
    text-align: start;
    margin:10px 0;
}

li span{
    color:green;
    font-weight:700;
}

.tab-contents{
    display:none;
}

.tab-contents.active-tab{
    display:block;
    margin-left:40px;
}

#projects{
    padding:50px 0;
    margin-bottom:10px;
}

.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}

.works{
    /* background-color: black; */
    padding:80px;
    border-radius: 30px;
    margin-top:-80px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow:hidden;
}

.work img{
    width:100%;
    border-radius:10px;
    display:block;
    transition:transform 0.8s;
}

.layer{
    width:100%;
    height:0;
    background: linear-gradient(rgba(0,0,0,0.6),green);
    border-radius: 10px;
    position:absolute;
    left:0;
    bottom:0;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    text-align: center;
    transition:height 0.5s;
}

.layer h3{
    font-weight: 600;
    font-size:30px;
    margin-bottom:20px;
}

.layer a{
    margin-top:20px;
    text-decoration: none;
    font-size:30px;
    color:black;
    line-height:60px;
    background: white;
    width:60px;
    height:60px;
    border-radius: 50%; 
    text-align: center;
}

.work img:hover{
    transform: scale(1.1);
}

.work:hover .layer{
    height:100%;
}

.social-icons a{
    font-size: 20px;
    text-decoration:none;
    color:white;
    margin-left: 10px;
}

#contact{
    background-color: black;
}

.left-col{
    flex-basis: 35%;
}

.right-col{
    flex-basis: 60%;
}

.social-icons{
    margin-top:50px;
}

.social-icons a i:hover{
    transform: scale(1.2);
}

.left-col p a{
    margin-right: 15px;
    font-size: 20px;
    text-decoration:none;
    color:green;
}

.left-col p{
    margin-top: 10px;
}

button{
    padding:15px 50px;
    border-radius:10px;
    color:white;
    background-color: green;
    border:none;
    cursor: pointer;
    margin-bottom: 10px;
}

.right-col form{
    width:100%;
}

form input, form textarea{
    display:block;
    width:100%;
    margin-top: 20px;
    margin-bottom:20px;
    padding:15px;
    border-radius:10px;
    border:none;
    background:#262626;
    color:white;
}

.copyright{
    text-align: center;
    width:100%;
    padding:35px 0;
    background:#171717;
    margin-top:20px;
    font-weight: 300;
    
}

.copyright i{
    color:red;
}

#msg{
    color:green;
    display:block;
}

/* === Grid Overlay === */
.grid-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
                    linear-gradient(90deg, rgba(255,255,255,0.03) 1px, transparent 1px);
    background-size: 50px 50px;
    z-index: 100;
    pointer-events: none;
}
.glow-circle {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 200px;
    height: 200px;
    background: radial-gradient(circle, #24e23088, transparent 90%);
    filter: blur(80px);
}

/* @media(max-width:450px){
    .logo-name{
        font-size: 30px;
        margin-top:20px;
    }
    
    nav ul li a{
        display:none;
    }

    #header{
        background-image:image-set();
    }
} */

@media (max-width: 1144px) {
    .container {
        padding: 10px 5%;
    }

    #header{
        background-image: url("images/mobile-back.png");
    }

    .home {
        align-items: center;
        text-align: center;
        margin-top: -250px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    .glow-circle{
        margin-top:-150px;
        margin-left:-30px;
    }

    .row {
        flex-direction: column;
        padding: 20px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
        padding: 0;
    }

    .about-col-1 img {
        width: 100%;
        height: auto;
        margin-bottom:50px;
    }

    .tab {
        margin-top: 40px;
    }

    /* .tab-contents {
        margin-left: 0;
    } */

    .works {
        padding: 20px 10px;
        margin-top: 1px;
    }

    .work-list {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .row .left-col, .row .right-col {
        flex-basis: 100%;
    }

    form input, form textarea {
        font-size: 1rem;
    }

    .logo-name {
        font-size: 24px;
        margin: 20px 10px;
    }

    nav ul {
        display: none;
    }

    .social-icons {
        justify-content: center;
        flex-wrap: wrap;
    }

    .social-icons a {
        margin: 10px;
    }

    .subtitle{
        font-size: 50px;;
    }
}







